@import "tailwindcss";

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
}

#root {
    width: 100%;
    height: 100%;
}

@keyframes drift1 {

    0%,
    100% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(60px, -40px) scale(1.2);
    }
}

@keyframes drift2 {

    0%,
    100% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(-50px, 50px) scale(1.1);
    }
}